html, body{
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    font-size: 14px;
        background: #f1f1f1;
}

#container {
    margin-left: 8px;

}

path {
    stroke-width: 1.1;
}

.tableContainer {
    margin-top: 15px;
    position: relative;
    float: left;
    width: 455px;
    height: 110px;
}

.first {
    color: #CC0000; /*red*/
}

.second {
    color: #000000; /*black*/
}

.third {
    color: #DF7401; /*gold*/
}

.fourth {
    color: #088A29; /*green*/
}

.fifth {
    color: #8B008B; /*purple*/
}

.sixth {
    color: #6495ED; /*cornflower blue*/
}

.graph {
    position: relative;
    float: left;
    width: 176px;
    height: 105px;
    background: #f2f2f2;
}

.stats {
    float: left;
    width: 277px;

    
}

.textContainer {
    width: 100%;
    font-size: 14px;
    line-height: 15px;
    float: left;
}

span {
    display: block;
    float: left;
}

.pos {
    margin-left: 4px;
    width: 8px;

}
.variance {
    width: 16px;

    text-align: right;
}

.name {
    margin-left: 4px;

}

.pct {
    float: right;
    width: 28px;
    text-align: right;
}

.road {
    float: right;
    margin-right: 5px;
    text-align: right;
}

.home {
    float: right;
    margin-right: 5px;
    text-align: right;
}
.rec {
    float: right;
    text-align: right;
    margin-right: 5px;
}

.blank {height: 15px;}

.title {
    position: absolute;

    line-height: 15px;
    font-size: 14px;
    top: 0px;
    left: 8px;
}
​